:root {

}

@font-face {
    font-family: 'Rubik';
    src: url('./assets/Fonts/Rubik-Regular.ttf');
}
@font-face {
    font-family: 'Rubik Bold';
    src: url('./assets//Fonts/Rubik-Bold.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik';
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

header {
    height: 55vh;
    padding: 0 20px;
    background-image: url('./assets/images/pattern-bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position-x: right;

    display: flex;
    flex-direction: column;
    position: relative;
}

#tracker {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header-title {
    color: #fff;
    padding: 20px;
    text-align: center;
}

#search-ip-tracker {
    max-width: 500px;
    width: 100%;

    display: flex;
}

#input-ip-tracker {
    width: 100%;
    padding: 20px;
    font-size: 15px;
    outline: none;
    border: none;
    border-radius: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#button-ip-tracker {
    background-color: hsl(0, 0%, 17%);
    height: 100%;
    padding: 10px 20px;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;    
}

#map-renderer {
    height: 100%;
    width: 100%;
    z-index: 1;
}

#map {
    height: 100%;
    width: 100%;
}

#info-tracker {
    width: 90%;
    background-color: #fff;
    z-index: 999;
    border-radius: 15px;
    padding: 10px 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

.details-tracker {
    width: 100%;
    margin: 10px 0;
    padding: 0 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-tracker {
    font-family: 'Rubik Bold';
    font-size: 12px;
    color: hsl(0, 0%, 59%);
    margin-bottom: 10px;
}

.content-tracker {
    font-size: 18px;
}

@media screen and (max-height: 900px) {
    #info-tracker {
        transform: translate(-50%, 60%);
    }    
}

@media screen and (max-height: 700px) {
    #info-tracker {
        transform: translate(-50%, 70%);
    }    
}

@media screen and (min-width: 500px) {
    .details-tracker {
        width: auto;
    }
}

@media screen and (min-width: 750px) {
    #info-tracker {
        padding: 10px;
        justify-content: space-around;

        & div {
            border-left: 1px solid hsl(0, 0%, 59%);
            padding-left: 20px;
        }

        & div:first-child {
            border: none;
            padding-left: 10px;
        }
    }

    .details-tracker {
        display: block;
    }
}

@media screen and (min-width: 1000px) {
    #info-tracker {
        width: 70%;
    }
}